<template>
    <div class="column">
        <div class="columns has-background-secondary is-mobile">
            <div
                v-if="driverResults.positionText === 'D'"
                class="column is-position-box is-1 is-paddingless has-text-centered"
            >
                DSQ
            </div>
            <div
                v-else
                class="column is-position-box is-1 is-paddingless has-text-centered"
            >
                {{ driverResults.position }}
            </div>
            <div class="column is-1 is-paddingless is-flag has-text-right">
                <img
                    :src="'../../img/FlagKit/drivers/' + driverResults.Driver.nationality + '.svg'"
                    :alt="driverResults.Driver.nationality"
                >
            </div>
            <div class="column is-paddingless is-padded-left">
                {{ driverResults.Driver.givenName }} {{ driverResults.Driver.familyName }}
            </div>
            <div class="column is-1 is-paddingless">
                {{ driverResults.points }}
            </div>
        </div>
        <div
            v-if="this.$props.showAll === true"
            class="columns is-mobile is-multiline"
        >
            <div
                v-for="(result, index) in raceResults.MRData.RaceTable.Races"
                :key="index"
                class="column is-result-box is-standings is-mobile has-background-secondary has-text-centered"
            >
                {{ result.Results[0].position }}
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
export default {
    props: {
        season: {
            type: String,
            default: '2019'
        },
        results: {
            type: Object,
            default: function () { return [] }
        },
        driverID: {
            type: String,
            default: ''
        },
        showAll: {
            type: Boolean,
            default: true
        }
    },
    data () {
        return {
            resultSet: null
        }
    },
    computed: {
        driverResults () {
            return this.$props.results
        },
        raceResults () {
            return this.resultSet
        }
    },
    mounted () {
        axios.get('https://ergast.com/api/f1/' + this.$route.params.season + '/drivers/' + this.$props.driverID + '/results.json').then(response => (this.resultSet = response.data))
    }
}
</script>
