@font-face {
    font-family: 'Formula1 Display';
    src: local('Formula1 Display-Black'), local('Formula1-Display-Black'),
        url('Formula1-Display-Black.woff2') format('woff2'),
        url('Formula1-Display-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1';
    src: local('Formula1Display-Wide'), local('Formula1-Display-Wide'),
        url('Formula1-Display-Wide.woff2') format('woff2'),
        url('Formula1-Display-Wide.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1';
    src: local('Formula1Display-Italic'), local('Formula1-Display-Italic'),
        url('Formula1-Display-Italic.woff2') format('woff2'),
        url('Formula1-Display-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Formula1';
    src: local('Formula1Display-Regular'), local('Formula1-Display-Regular'),
        url('Formula1-Display-Regular.woff2') format('woff2'),
        url('Formula1-Display-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1 Display';
    src: local('Formula1 Display-Black'), local('Formula1-Display-Black'),
        url('Formula1-Display-Black.woff2') format('woff2'),
        url('Formula1-Display-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1';
    src: local('Formula1Display-Bold'), local('Formula1-Display-Bold'),
        url('Formula1-Display-Bold.woff2') format('woff2'),
        url('Formula1-Display-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

