@import "../../../node_modules/bulma/sass/utilities/functions.sass";

$grey_light: #212020;
$grey_dark: #111010;
$grey_dark_invert: findColorInvert($grey_dark);
$gold: #D6AF36;
$silver: #a7a7ad;
$bronze: #a77044;