// Variable Overrides go here

//Import PT Sans and Open Sans as fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Libre+Franklin');

@import "_variables.scss";
//Import the F1 Offical Fonts
@import "../fonts/stylesheet.css";

//Override the default Bulma fonts with PT Sans & Open Sans
$family-sans-serif: 'Formula1', 'Libre Franklin', 'Open Sans';
$family-secondary: 'Formula1', 'Libre Franklin', 'Open Sans';
$body-background-color: hsl(0, 0%, 14%);
$primary: $grey_light;
$text: white;
$body-font-size: '0.9rem';
$custom-colors: ("secondary": ($grey_dark, $grey_dark_invert));

@import "~bulma/bulma";

html {
    min-height: 100%;
    background: url('/img/cb2wmxh0yhj21.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #010101;
    background-attachment: fixed;
}

body {
    height: 100vh;
    font-size: 0.9rem;
}

.is-race-info { 
    min-width: 200px;
    .race-info-content {
        position: relative;
        height: 100%;
        transition: all 0.7s ease;
        &:hover .race-flag-bg {
            transition: transform 0.3s ease-out;
            -ms-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
    .race-flag-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background-size: cover !important;
        background-position: center center !important;

        &.is-generic {
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(25, 25, 25, 0.3)), url('/img/FlagKit/Formula%201.svg') no-repeat !important;
            background-size: cover !important;
            background-position: center center !important;
            background-color: #f1f1f1;
        }
    }
    .text-container {
        height: 100%;
        padding: 12px;
        z-index: 5;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.all-races {
    .container {
        padding: 5px;
    }

    padding-bottom: 50px;
}
.has-text-shadow {
    text-shadow: 0px 0px 3px rgb(0,0,0);
}

// Media Queries to fix column size/font sizes on smaller devices

@media screen and (max-width: 1480px) {
    body {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1280px) {
    body {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 840px) {
    .is-race-info {
        min-width: 50%;
    }
    body {
        font-size: 1rem;
    }
    div.column {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 560px) {
    .has-smaller-text-mobile {
        font-size: 1.25rem !important;
    }
}

@media screen and (max-width: 515px) {
    .has-smaller-text-mobile {
        font-size: 1rem !important;
    }
    div.column {
        font-size: 0.6rem;
    }
}
.column.is-flag {
    width: 21px !important;
    img {
        width: 21px;
        max-height: 15px;
    }
}

.column.is-spacer {
    width: 31px !important;
}

.is-padded-left {
    padding-left: 7px !important;
}

.is-padded-right {
    padding-right: 7px !important;
}

.column.is-position-box {
    margin-right: 7px !important;
    width: 25px !important;
    background: white;
    border-bottom-right-radius: 5px;
    color: $grey_dark;
    margin-bottom: 2px;
    max-height: 25px  !important;
}

.columns.is-standings {
    margin:0;
}

.pos-icon {
    filter: drop-shadow( 0px 0px 3px rgba(0,0,0, 0.5));
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.position-1 .icon svg {
    color: $gold !important;
}

.position-2 .icon svg {
    color: $silver !important;
}

.position-3  .icon svg {
    color: $bronze !important;
}

.has-text-underline {
    text-decoration: underline !important;
}
.column.is-result-box {
    min-width: 40px;
    max-width: 45px;
    border-width: 0px 1px 0px 1px;
    border-color: white;
    border-style: solid;
    @include until($desktop) {
        border-width: 1px;
    }
}
.columns.is-drivers-standings {
    @include until($desktop) {
        padding: 1.25rem;
    }
}
// .columns.is-resultset {
//     overflow-x: scroll;
// }

.column.is-season-link {
    @include until($desktop) {
        min-width: 25%;
    }
}

.navbar-center {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}