<template>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered is-multiline">
                    <div class="column is-three-quarters has-background-secondary has-text-centered">
                        About GPResults
                    </div>
                    <div class="column is-full is-three-quarters has-background-primary">
                        GPResults is a combined session times and results viewer for Formula 1 Seasons.<br>
                        Technologies used:
                        <div class="columns is-centered">
                            <div class="column is-2">
                                <a href="https://bulma.io">
                                    <img
                                        src="https://bulma.io/images/made-with-bulma.png"
                                        alt="Made with Bulma"
                                        width="128"
                                        height="24"
                                    >
                                </a>
                            </div>
                            <div class="column is-2">
                                <a
                                    href="http://ergast.com/mrd/"
                                    class="has-text-white"
                                >
                                    Ergast F1 API
                                </a>
                            </div>
                            <div class="column is-2">
                                <a
                                    href="https://vuejs.org/"
                                    class="has-text-white"
                                >
                                    <img
                                        src="/img/vue-logo.png"
                                        alt="Made with Vue.js"
                                        style="max-height:24px;"
                                    >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav
            id="navbarBottom"
            class="navbar is-fixed-bottom"
        >
            <div class="navbar-brand">
                <div
                    class="navbar-burger burger"
                    data-target="navbarExample"
                >
                    <span />
                    <span />
                    <span />
                </div>
            </div>
            <div
                id="navbarExample"
                class="navbar-menu"
            >
                <div class="navbar-center has-background-secondary">
                    <a
                        class="navbar-item"
                        href="/"
                    >
                        Home
                    </a>
                </div>
            </div>
        </nav>
    </section>
</template>
