<template>
    <div class="container">
        <section class="section">
            <ConstructorsStandings :season="this.$attrs.season" />
        </section>
    </div>
</template>

<script>
import ConstructorsStandings from '@/components/SimpleConstructorsStandings'

export default {
    name: 'Home',
    components: {
        ConstructorsStandings
    }
}
</script>
