<template>
    <div class="container">
        <section class="section">
            <DriversStandings :season="this.$attrs.season" />
        </section>
    </div>
</template>

<script>
import DriversStandings from '@/components/SimpleDriversStandings'

export default {
    name: 'Home',
    components: {
        DriversStandings
    }
}
</script>
