<template>
    <div class="container">
        <DriverDetail />
    </div>
</template>

<script>
import DriverDetail from '@/components/DriverDetail'
export default {
    components: {
        DriverDetail
    }
}
</script>
