<template>
    <div class="container is-centered">
        <RaceList />
    </div>
</template>

<script>
import RaceList from '@/components/RaceList'

export default {
    name: 'Home',
    components: {
        RaceList
    },
    computed: {}
}
</script>
